<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @comment.artist %>
</p>

<p>
  <strong>Painting:</strong>
  <%= @comment.painting %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @comment.rating %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
