<h1><%= @user.name %></h1>

<p>
  <%= image_tag @user.image_url if @user.image?%>
</p>

<h2><strong>Artworks:</strong></h2>
<div>
  <% @user.pictures.all.each do |picture| %>
    <%= link_to image_tag(picture.image_url(:thumb)), picture %>
  <% end %>
</div>
<div>
  <div>
  <h2><strong>Comments:</strong></h2>
  <% @comments.each do |comment| %>
    <p>
    <div>
      <%= comment.content %>
    </div>
    <div>
      By <%= link_to comment.user.name, user_path(comment.user.id) %> created at: <%= comment.created_at %>
    </div>
    <% end %>
    </p>
</div>
<%= form_with(model: @comment, url: user_comments_path(@user.id), local: true) do |form| %>
  <div class='field'>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end%>
</div>