<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <!--<th>Name</th>
      <th>Blurb</th>
      <th>Image</th>
      <th>Creator</th>
      <th colspan="3"></th>-->
      <% @pictures.each do |picture|%>
        <th><%=picture.name%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <tr>
      <% @pictures.each do |picture| %>
        
        <td>
          <%= image_tag picture.image_url(:thumb) if picture.image? %>
          <div>
            <%= picture.blurb %>
          </div>
          <div>
            <%= picture.user.name %>
          </div>
          <div>
            <%= link_to 'Show', picture %>
          </div>
          <% if picture.user_id == current_user.id %>
          <div><%= link_to 'Edit', edit_picture_path(picture) %></div>
          <div><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
