<p>
  <%= image_tag @picture.image_url if @picture.image?%>
</p>

<p>
  <h3><strong>Artist:</strong>
    <%= link_to @picture.user.name, user_path(@picture.user.id) %>
  </h3>
</p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @picture.blurb %>
</p>
<%= render 'comments/comment', comments: @comments, comment: @comment, url_path: picture_comments_path(@picture) %>
